
.body{
    background-color: rgba(59, 27, 46, 0.863);
    text-decoration: none;
    color: azure;
    
    font-family: 'Dancing Script', cursive;
    align-content: center;
    
}
.header{
    
    background-color: #111111;
    max-width: 1200px ;
    width: 100%;
    border-radius: 15% 0%;
    

}
@keyframes reclam{
    0%{
        background-color: #111;
    }
    50%{
        background-color:rgba(255, 174, 0, 0);
    }
    100%{
        background-clor:#111;
        
    }

}

.OSN{
    display: flex;
    background-color: rgb(159, 0, 165);
    border-radius: 30% 30%;
    animation: reclam 2s linear ;

}
.p{
    text-decoration: none;
    color: azure;
    text-align: center;
}
.ter{
    
    font-size: 30px;
    padding-left: 100px;
    text-decoration-line: none;
    text-shadow: .5px .5px rgb(163, 6, 37);
    
}
.teg{
    font-size: 50px;
}
/*sad*/
.over{
    display: flex;
}
.dooze{
    background-color: #111111;
    max-width: 1200px ;
    width: 100%;
    height: 1150px;
    text-align: center;
    border-radius: 15% 15%;
    
}
.abc{
    text-align: center;
    padding: 0 0 0 0 ;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    text-shadow: .5px .5px whitesmoke;
}
.pzh{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: darkorange;
    padding-left: 280px;
}

